.idea
.vscode
.sass-cache
*.sqlite3
*.py[co]
*.mo
*~
*.swp
dmoj/local_settings.py
resources/dark
resources/martor-description.css
resources/style.css
resources/vars.scss
sass_processed
/node_modules/
/__pycache__/
/uwsgi.ini
/websocket/config.js
/package-lock.json
/templates/analytics.html
locale/.DS_Store
judge/views/.DS_Store
judge/utils/.DS_Store
judge/models/.DS_Store
judge/management/.DS_Store
judge/jinja2/.DS_Store
judge/.DS_Store
django_ace/.DS_Store
.DS_Store
