$highlight_blue: #09806d;
$announcement_red: #ae0000;

$base_font_size: 16px;
$widget_border_radius: 4px;

$table_header_rounding: 6px;

$monospace-fonts:  "Lucida Console", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
